.input-container {
  width: 100%;
}
.search-icon {
  font-size: 24px;
}
.mat-progress-bar {
  position: absolute;
}

.create-new {
  color: #27ae60;
}

.add-icon {
  position: relative;
  color: #27ae60;
}
